<div class="contain">

    <div class="background">
        <img src="assets/images/section_img.png" alt="" loading="lazy">
    </div>

    <div class="content">
        <h1>Laughter, Tears ,Thrills, Find it all on Big Show.</h1>
        <h2 [ngClass]="{'flash': shouldFlash}">Ready to watch?</h2>
        <div class="buttons d-flex">
            <button class="btn btn-md me-4" routerLink="movies">Watch Movies</button>
            <button class="btn btn-md" routerLink="series">Watch Series</button>
        </div>
    </div>
</div>